.main {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .carousel {
    width: 100%; 
  }
  
  .review1,
  .review2 {
    text-align: center; 
    font-size: 14px; 
    margin: 20px 0; 
    width: 90%; 
  }
  @media only screen and (min-width: 601px) {
    .main {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  
    .carousel {
      width: 50%;
      margin: 0 10px;
    }
  
    .review1,
    .review2 {
      width: auto;
    }
  }
  