.main {
    border: solid purple 3px;
    flex: content;
    flex-wrap: wrap;
    flex-direction: row;
}

.review {
    width: 33%;
}

.carousel {
    margin-left: 33%;
    border: solid white 3px;
    width: 33%;
}