.body { 
  border: solid line green;
  flex-wrap: wrap;
  flex-direction: column;
  flex: auto;
}

.description {
  text-align: center;
  font-size: 100%;
}

.band-pic {
  margin-left: 4%;
  justify-content: center;
  width: 90%;
}

.brights {
  margin-left: 4%;
  justify-content: center;
  width: 90%;
}

.amythyst {
  margin-left: 4%;
  justify-content: center;
  width: 90%;
}