.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  border: black solid 3px;
}

.description {
  border: cadetblue solid 3px;
  text-align: center;
  font-size: 100%;
  margin-right: 3px;
}

.band-pic {
  border: solid 3px olive;
  justify-content: center;
  width: 64vw;
}

.side-bar {
  margin-left: 1vw;
  border: solid purple 3px;
  width: 30vw;
}

.carousel-container {
  width: 100%;
  margin-top: 20px; /* Adjust as needed */
  position: relative; /* Add relative positioning */
}

.quote {
  text-align: center;
  font-size: 18px; /* Adjust font size as needed */
  margin: 10px; /* Adjust margin as needed */
  z-index: 1; /* Set a higher z-index to bring quotes above controls */
}

.carousel .control-dots {
  display: none; /* Hide carousel controls */
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: column;
  }

  .side-bar {
      margin-left: 0vw;
      width: 100%;
  }

  .band-pic {
      width: 100%;
  }

  .description {
      margin: 0px;
      padding: 3px;
  }

  .carousel-container {
      margin-top: 10px; /* Adjust as needed */
  }
}

@media only screen and (min-width: 601px) {
  .band-pic {
      max-width: 50vw;
  }
}
