.main-div {
    border: pink solid 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub {
    border: solid 3px orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.release,
.home {
    color: darkblue;
    text-decoration: none;
}

.release:visited,
.home:visited {
    color: darkblue;
    text-decoration: none;
}

.release:hover,
.home:hover {
    color: white;
    text-decoration: none;
}