.main-div {
    border: pink solid 3px;
}

.sub {
    border: solid 3px orange;
}

.release {
    color: darkblue;
    text-decoration: none;
}

.release:visited {
    color: darkblue;
    text-decoration: none;
}

.release:hover {
    color: white;
    text-decoration: none;
}

.home {
    color: darkblue;
    text-decoration: none;
}

.home:visited {
    color: darkblue;
    text-decoration: none;
}

.home:hover {
    color: white;
    text-decoration: none;
}