.main-foot {
    border: yellow solid 3px;
    height: 90px;
}

.insta {
    margin: 3px;
    font-size: 30px;
}

.icon {
    margin-top: 5px;
    margin-left: 7%;
    width: 4%;
}

.bandcamp {
    margin: 3px;
    width: 20%;
}

.apple {
    margin: 3px;
    font-size: 30px;
}

.spotify {
    margin: 3px;
    font-size: 30px;
}

.napster {
    margin: 3px;
    font-size: 30px;
}

.youtube {
    margin: 3px;
    font-size: 30px;
}

.amazon {
    margin: 3px;
    font-size: 30px;
}

.facebook {
    margin: 3px;
    font-size: 30px;
}
