.main-foot {
    border: yellow solid 3px;
    height: 90px;
}

.insta {
    margin: 3px;
    font-size: 30px;
}

.bandcamp {
    margin: 3px;
    font-size: 30px;
}

.apple {
    margin: 3px;
    font-size: 30px;
}

.spotify {
    margin: 3px;
    font-size: 30px;
}

.napster {
    margin: 3px;
    font-size: 30px;
}

.youtube {
    margin: 3px;
    font-size: 30px;
}

.amazon {
    margin: 3px;
    font-size: 30px;
}

.facebook {
    margin: 3px;
    font-size: 30px;
}