.main-foot {
    border: yellow solid 3px;
    height: 100px;
}

.insta {
    margin: 3px;
    font-size: 30px;
}

.icon {
    margin-top: 5px;
    margin-left: 7.5%;
    width: 4%;
}

.icon:hover {
    width: 5.5%;
    
}

